* {
  box-sizing: border-box;
  margin: 0;
  flex: none;
  position: relative;
  padding: 0;
}
html {
  font-size: calc(16px + 1vmin);
  line-height: 162%;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  background: #cfded1;
  color: #2e3635;
  margin: 0;
  width: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

article > img {
  width: 100%;
  height: auto;
  padding: 1rem;
}

a {
  color: #2e3635;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
}

a:active {
  color: #3b8884;
}

main {
  max-width: 90ex;
  margin: 0 auto;
  padding: 3rem;
  overflow: hidden;
}

@media (max-width: 480px) {
  main {
    padding: 2rem 1rem;
  }
}

header {
  background: linear-gradient(#9ed4f2, #c6eaff);
  padding-top: 10%;
  position: relative;
  overflow: hidden;
}

nav {
  width: 100%;
  text-align: center;
}

nav > a {
  font-size: calc(1rem + 1vmax);
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid;
  line-height: 100%;
}

nav > a:hover {
  color: #708f73;
  font-size: calc(1.1rem + 1vmax);
}

nav > * + * {
  margin-left: 1rem;
}

@media (max-width: 480px) {
  nav > a {
    font-size: 1rem;
  }
}

footer {
  text-align: center;
  background: #b4c9b6;
  padding: 4rem 2rem;
  font-size: 0.62rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.38);
}
#napatext {
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 0;
  padding-top: 4rem;
  margin-top: 4rem;
  border-top: 1px solid rgba(0, 0, 0, 0.38);
  border-bottom: 1px solid rgba(0, 0, 0, 0.38);
}

#napa {
  width: 4rem;
  margin: 0 auto;
  margin-top: -6rem;
  background: #cfded1;
  margin-bottom: 1rem;
}

#carousel {
  position: relative;
  margin-top: 6rem;
}

#carousel > div {
  border-radius: 1rem;
  padding: 1%;
  background: white;
}
#carousel > div > img {
  border-radius: 1rem;
  padding: 1%;
  background: white;
}
#carousel > #prev,
#carousel > #next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.2rem solid #f2f2f2;
  background: #fff;
}

#carousel > #next {
  right: 0;
  transform: translateY(-50%) translateX(50%);
}

#next > img,
#prev > img {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

#next > img {
  transform: translate(-50%, -50%) rotate(180deg);
}

section > * + * {
  margin-top: 2rem;
}

article {
  line-height: 80%;
  text-align: left;
  display: flex;
  width: 100%;
  align-items: center;
}
article > div {
  flex: 1 1 100px;
  background: white;
  padding: 1.62%;
  border-radius: 0.5rem;
}
article > div img {
  border-radius: 0.2rem;
}
article > * + * {
  margin-left: 1rem;
}

article > div:nth-child(2) {
  transform: rotate(1deg);
}

@media (max-width: 960px) {
  article > div:nth-child(3) {
    display: none;
  }
}

h2 {
  /* font-size: 2rem; */
  padding: 1rem;
  padding-left: 0px;
  letter-spacing: 1px;
  font-size: calc(1rem + 1vmax);
}

h3 {
  font-size: 1rem;
  line-height: 138%;
}

p {
  font-size: 1rem;
  text-align: center;
  position: relative;
}

b {
  display: block;
  width: 100%;
  text-align: center;
  font-size: calc(1rem + 1vmax);
  line-height: 138%;
}

h4 {
  text-align: center;
  text-transform: uppercase;
}

h4 > a {
  font-size: inherit;
  color: inherit;
  margin-left: 0.2ch;
}

#paperplane {
  max-width: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#contactemail {
  text-align: center;
}

#demobox {
  background-color: #e9f6f4;
  font-size: 24px;
  letter-spacing: 1px;
  padding: 32px;
}

#email {
  text-align: center;
  width: 100%;
  display: block;
  padding: 1rem;
}

#logo {
  width: 100%;
  transform: scale(1.1);
}

.feature {
  background: #b4c9b6;
  padding: 3rem;
  padding-top: 0;
  border-radius: 1rem;
  margin-top: 5%;
}

.feature > * + * {
  margin-top: 1rem;
}

.feature > article {
  transform: translate(0, -20%);
  margin-bottom: -1rem;
}

@media (max-width: 720px) {
  .feature {
    padding: 2rem;
    padding-top: 0;
  }
}

#cloudleft {
  position: absolute;
  top: 5%;
  left: -15%;
  width: 40%;
  animation: bob 5s infinite;
}
#cloudright {
  position: absolute;
  top: 20%;
  right: -5%;
  width: 20%;
  animation: bob 4s infinite;
}

@keyframes bob {
  from {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10%);
  }
  to {
    transform: translate(0, 0);
  }
}

#art1 {
  text-align: center;
  padding: 1rem;
  padding-top: 3rem;
  border-radius: 1rem;
  position: relative;
}

#art1::before {
  content: '';
  width: 100%;
  height: 100%;
  background: #b4c9b6;
  position: absolute;
  top: -2rem;
  left: -2rem;
  z-index: 0;
  transform: rotate(-2deg);
  border-radius: 1rem;
  padding: 2rem;
}

@font-face {
  font-family: Pompiere;
  src: url(pompiere/Pompiere-Regular.otf);
}

#art2 {
  padding: 3rem 1rem;
  margin: 1rem 0 6rem;
  font-family: 'Pompiere';
  font-size: 2rem;
  line-height: 150%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#painting {
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -2rem;
  z-index: 2;
  position: relative;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

#rules {
  background: #c0b4a9;
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 1rem;
}
#rules > div {
  background: white;
  padding: 3rem 3rem 4rem;
}

@media (max-width: 480px) {
  #rules {
    padding: 1rem;
  }
  #rules > div {
    padding: 2rem 2rem 3rem;
  }
}

#rules > div > * + * {
  margin-top: 1rem;
}

#arttitle {
  padding-bottom: 2rem;
}

#toenter {
  text-align: left;
  word-break: break-word;
}

h1 {
  color: #bf3d3d;
  text-align: left;
}

#clipboard {
  max-width: 40%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -70%);
}

#terms {
  text-align: left;
}

#tcheader {
  text-align: left;
  line-height: 138%;
}

#tac > section {
  background: #fff;
  padding: 4rem;
  box-shadow: 1rem 1rem 0 rgba(0, 0, 0, 0.038);
}

@media (max-width: 480px) {
  #tac > section {
    padding: 2rem 2rem;
  }
}

#emailfooter {
  font-size: 0.8rem;
}

#judges {
  margin-top: 8rem;
  margin-bottom: 6rem;
}

#donate {
  background: #e2c8e2;
  border: 9px solid #cbb0cb;
  box-sizing: border-box;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: -5rem;
  display: block;
  max-width: 15rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.41);
}
