* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  background: #c8e8e5;
  color: #2e3635;
  margin: 0;
}

a {
  color: #2e3635;
  font-size: 24px;
}

a:visited {
  color: #3b8884;
}

header,
main {
  max-width: 960px;
  margin: 0 auto;
  padding: 32px;
}

header {
  text-align: center;
}

header > * + * {
  margin-top: 32px;
}

nav {
  margin-top: 16px;
}

nav > * + * {
  margin-left: 16px;
}

footer {
  text-align: center;
  background: #e9f6f4;
  padding: 32px;
}
