* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  background: #c8e8e5;
  color: #2e3635;
  margin: 0;
}

a {
  color: #2e3635;
  font-size: 24px;
}

a:visited {
  color: #3b8884;
}

header,
main {
  max-width: 960px;
  margin: 0 auto;
  padding: 32px;
  font-size: 32px;
  letter-spacing: 4px;
}

header {
  text-align: center;
}

header > * + * {
  margin-top: 32px;
}

nav {
  margin-top: 16px;
}

nav > * + * {
  margin-left: 16px;
}

footer {
  text-align: center;
  background: #e9f6f4;
  padding: 32px;
}

article {
  line-height: 80%;
  text-align: left;
}

h2 {
  font-size: 32px;
  padding: 16px;
  padding-left: 0px;
  letter-spacing: 1px;
}
h3 {
  font-size: 24px;
  padding: 8px;
  padding-left: 0px;
  letter-spacing: 1px;
  padding-top: 64px;
}
p {
  font-size: 24px;
  letter-spacing: 1px;
}
p1 {
  font-size: 16px;
  letter-spacing: 1px;
}

p2 {
  font-size: 16px;
  letter-spacing: 1px;
}
#painting {
  width: 720px;
  height: 520px;
  margin-top: 64px;
}
